# ---------------------------------------------------------------------------
# Schema Registry
# ---------------------------------------------------------------------------

SCHEMA_REGISTRY_URL="http://localhost:8081"
SCHEMA_REGISTRY_API_PATH="/apis/registry/v3"
SCHEMA_REGISTRY_CCOMPAT_PATH="/apis/ccompat/v7"
